:root {
    --primary: #F2C94C;
    --black: #333333;
    --width-break: 600px;
}

.navbar{
    text-align: center;
    background-color: var(--primary);
}

.header{
    font-size: 20px;
    font-style: italic;
    padding:2rem;
}

#txt-area{
    display: block;
    height:50vh;
    width: 100vh;
    padding: 1em;
    margin:auto;
}
main{
display: block;
margin:auto;
padding: 1rem;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--primary);
    text-align: centre;
}

#btn-translate{
    display: block;
    margin-left: 500px;
    margin-top: 20px;
    padding:1rem 2rem;
    background-color: var(--primary);
    border:none;
    box-sizing: border-box;
    cursor:pointer;
}
#output{
    box-sizing: border-box;
    width:50%;
    margin:auto;
    min-height: 10vh;
    max-height: 20vh;
    overflow: scroll;
    border: 1px solid var(--black);
}
